body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #40514e;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #50d890;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  /* 40px 1em=16px 40/16=2.5=40px */
  color: #50d890;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.intro-container {
  background-color: #effffb;
  position: relative;
  padding-top: 100px;
}

.cloud-2 {
  position: absolute;
  left: 500px;
  bottom: 300px;
}

.cloud-1 {
  position: absolute;
  right: 500px;
  top: 50px;
}

.star {
  color: #50d890;
}

.design {
  width: 100px;
  height: 100px;
}

.prototyping {
  width: 100px;
  height: 100px;
}

.research {
  width: 100px;
  height: 100px;
}

.collaboration {
  width: 100px;
  height: 100px;
}

.skills {
  margin-top: 100px;

}

.skill-row {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
}

.middle-container {
  padding-top: 60px;
  margin-bottom:100px;
}

.bottom-container {
  background-color: #50d890;
  margin-bottom: 0px;
  color: #40514e;
  padding-top: 50px;
  font-size: 18px;
}

.off-star {
  color: #8bbabb;
}

a.footer-link {
  text-decoration: none;
  color: #2bad65;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.behance {
  border-left: 1px solid #2bad65;
  border-right: 1px solid #2bad65;
  height: 5px;
}

a.footer-link:hover {
  color: #40514e;
}

.subtitle {
  font-weight: normal;
}

hr {
  border-color: #8bbabb;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 6%;
}

.profile {
  width: 50%;
  margin: 100px auto;
}

.profile-text {
  text-align: justify;
  line-height: 2;
  width: 4 50%;
  margin: auto;
}

.profile_pic {
  width: 250px;
  height: 300px;
  border-radius: 25% 10%;
  float: left;
  margin-right: 40px;
}

.contact_button {
  box-shadow: inset 0px 1px 0px 0px #abedc7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #abedc7), color-stop(1, #50d88f));
  background-color: #abedc7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-indent: 0;
  border: 1px solid #2bad65;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 42px;
  width: 130px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2bad65;
  margin-bottom: 90px;
}

.contact_button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #50d88f), color-stop(1, #abedc7));
  background-color: #50d88f;
}

.contact_button:active {
  position: relative;
  top: 1px;
}

.contact-me {
  margin-top: 100px;
}

.copyright {
  font-size: .75rem;
  margin-top: 0px;
  padding-bottom: 20px;
  color: white;
  margin-bottom: 0px;
  padding-top: 50px;
}
